.muchotexto {
    height: 4rem;
    overflow: hidden;
}

span {
    display: inline-block;
}

.oculta {
    display: none;
}.muchotexto {
    height: 4rem;
    overflow: auto;
}

span {
    display: inline-block;
    width: 20%;
    background-color: #f1aeae;
    
    

}

.oculta {
    display: none;
}

button {
    display: inline
}